
@{
    ViewBag.Title = "Pricing";
}

<!DOCTYPE HTML>
<!--
    Aesthetic by gettemplates.co
    Twitter: http://twitter.com/gettemplateco
    URL:
-->
<html>
<head>
   
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.7.1-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-left">
                    <div class="display-tc">
                        <div class="row">
                            <div class="col-md-8">
                                <img src=@Url.Content("~/images/cube.png") alt="img">
                                <h1>Your Resume, Made Easy</h1>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <section class="container">
        @*<div class="columns features">
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="fa fa-paw"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et. </h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.</p>
                            <p><a href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="fa fa-empire"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tempor orci dapibus ultrices in.</h4>
                            <p>
                                Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas cmonsu songue. Phasellus vestibulum lorem
                                sed risus.
                            </p>
                            <p><a href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="fa fa-apple"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4> Leo integer malesuada nunc vel risus. </h4>
                            <p>Imperdiet dui accumsan sit amet nulla facilisi morbi. Fusce ut placerat orci nulla pellentesque dignissim enim. Libero id faucibus nisl tincidunt eget nullam. Commodo viverra maecenas accumsan lacus vel facilisis.</p>
                            <p><a href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class=" gtco-heading text-center">
            <h2 class="title">Create a resume you're proud of</h2><br>
            <p class="subtitle">Stand out with a visual resume that highlights the key things about you and shows you're relevant.</p>
        </div>
        <div class="sandbox">
            <div class="tile is-ancestor bg-warning ">
                <div class="tile is-parent is-shady">
                    <article class="tile is-child bg-info text-center">
                        <h1 class="text-center">Monthly</h1>
                        <h2 class="text-center">$19<sup>.99/m</sup></h2>
                        <p class="text-center">You will be billed <br />once in a month</p>
                        <a href="" class="btn btn-danger btn-md active" role="button" aria-pressed="true">Buy Pro Monthly</a><br /><br />
                        <p class="subtitle text-center">UPGRADE ANYTIME</p>
                    </article>
                </div>
                <div class="tile is-parent is-shady">
                    <article class="tile is-child text-center btn-outline">
                        <div class="tab center-tab text-center">
                            <div class="center-tab-header bg-danger">
                                <p class="title">MOST POPULAR</p>
                            </div>
                        </div>
                        <h1 class="text-center text-info">Quarterly</h1>
                        <h2 class="text-center">$14<sup>.99/m</sup></h2>
                        <p class="text-center"><strike>$59.97</strike> $44.97 <br />billed every 3 months</p>

                        <a href="" class="btn btn-primary btn-md  active" role="button" aria-pressed="true">Buy Pro Quarterly</a><br /><br />
                        <p class="subtitle">SAVE 25%</p>
                    </article>
                </div>
                <div class="tile is-parent is-shady">
                    <article class="tile is-child bg-info text-center">
                        <h1 class="text-center">Semi-Annual</h1>
                        <h2 class="text-center">$10<sup>.99/m</sup></h2>
                        <p class="text-center"><strike>$119.94</strike> $65.94 <br />billed every 6 months</p>
                        <a href="" class="btn btn-success btn-md active" role="button" aria-pressed="true">Buy Pro Semi-Annual</a><br /><br />
                        <p class="subtitle text-center">SAVE 45%</p>
                    </article>
                </div>
            </div>
        </div>
        <div class=" gtco-heading text-center">
            <h2 class="title">What’s included in Pro</h2><br>
        </div>

        <section class="column">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                    <div class="tile">
                        <div class="tile is-parent is-vertical is-shady">
                            <article class="tile is-child notification is-primary">
                                <p class="title">Up to 10 resumes</p>
                                <p class="subtitle">Make changes to your resume and tailor to a specific position in a matter of minutes.</p>
                            </article>
                            <article class="tile is-child notification is-warning">
                                <p class="title">
                                    Unlimited entries
                                </p>
                                <p class="subtitle">Add more of your personal and professional experience to prove your culture fit.</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child notification is-info is-shady">
                                <p class="title">
                                    Pro sections
                                </p>
                                <p class="subtitle">Show certificates, awards, references, and more, so that your achievements come across.</p>

                            </article>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-danger  is-shady">

                            <p class="title">Memorable design</p>
                            <p class="subtitle">Customize colors, fonts, and icons and make sure your resume is never bland.</p>
                            <div class="content">

                            </div>
                        </article>
                        <div style="margin-right:50px"></div>
                        <article class="tile is-child notification is-danger  is-shady">
                            <p class="title">Remove branding</p>
                            <p class="subtitle">Get the full credit for your resume by removing the Enhancv logo on the page.</p>
                            <div class="content">

                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-success  is-shady">
                        <div class="content">
                            <p class="title">
                                Compact template
                            </p>
                            <p class="subtitle">
                                Use a visually appealing layout that fits more information in one page.
                            </p>
                            <div class="content">
                                <!-- Content -->
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </section>



        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>